@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
    --font-text: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--background);
    color: var(--title);
    font-size: 1.6rem;
    font-family: var(--font-text);
}

.main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 96rem;
    margin: 0 auto;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.main-info h1 {
    text-align: center;
    color: var(--title);
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.logo {
    width: 15%;
    display: block;
    margin: 0 auto 1rem auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    padding: .8rem;
    cursor: pointer;
    margin: 0 auto 2rem auto;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: .5rem;
    border: none;
}

.btn:hover {
    background-color: var(--bg-button);
}

.btn img{
    width: 20%;
    margin-right: 2rem;
}

.main-info p {
    max-width: 38.1rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
}


/* MOVIE FETCH */

.movie-fetch {
    display: flex;
    margin-bottom: 3rem;
}

.movie_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie_poster img{
    width: 17.1rem;
    margin-right: 2rem;
}

.movie_info h2 {
    font-size: 2rem;
    text-align: left;
}


.movie_info p {
    font-size: 1.3rem;
    text-align: left;
}

@media screen and (max-width:600px) {
    .movie_info p {
        text-align: center;
        padding: .5rem;
    }

    .main-info h2 {
        text-align: center;
        padding: .5rem;
    }

    .main-info p {
        padding: .5rem;
    }
}